.env

### JAVA (Spring Boot) ###
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar

### C++ ###
build/
cmake-build-debug/
cmake-build-release/
*.o
*.obj
*.exe
*.out
/routing-service/routing_app

### IDE ###
.idea/
.vscode/
*.iml
*.suo
*.user
.DS_Store

### Docker ###
.docker/