# Security & Credentials
.env
*.env
docker-compose.override.yml

# JAVA (Spring Boot / Maven)
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log
/ProiectOF/gateway-service/HELP.md
/ProiectOF/gateway-service/.mvn/
/ProiectOF/gateway-service/.classpath
/ProiectOF/gateway-service/.project
/ProiectOF/gateway-service/.settings/

# C++ (CMake & Compilation)
build/
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
install_manifest.txt
/ProiectOF/routing-service/routing_app
*.o
*.obj
*.exe
*.out
*.a
*.lib

# IDE & OS Specific
.idea/
.vscode/
*.iml
*.suo
*.user
.DS_Store
Thumbs.db
desktop.ini

# Docker & Persistence
.docker/