name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build Gateway with Maven
        run: mvn clean package -DskipTests
        working-directory: proiect-FleetOPS/gateway-service

  build-cpp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake g++

      - name: Configure and Build C++
        run: |
          mkdir build
          cd build
          cmake ..
          make
        working-directory: proiect-FleetOPS/routing-service

  build-docker:
    runs-on: ubuntu-latest
    needs: [build-java] 
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Gateway Docker Image
        run: |
          docker build -t gateway-service proiect-FleetOPS/gateway-service
          
      - name: Build Path Calculator Docker Image
        run: |
          docker build -t path-calculator-service proiect-FleetOPS/routing-service